@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
  background-color: #ffffff;
} */

@keyframes width-expand {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes height-expand {
  from { height: 0; }
  to { height: 100%; }
}
